
body {
    background: none;
}


.Total-Study-time {
  margin-top: 20px;
  margin-left: 5px;
  font-family: "Roboto" sans-serif;
}

.Total {
  font-size: 20px;
  font-weight: 800;
}

.green-text {
  color: #48BB78;
}
  
.Total-study {
  color: black;
}
  
.study-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10%;
  }
.Study-sessions {
  color: black;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  margin-top: 15%;
  font-size: 16px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 4px; 
  margin-right: 8px; 
}
  
.icon-box svg {
  color: white; 
}

.Study-rooms {
  color: black;
  display: flex;
  align-items:center;
  justify-content: left;
  margin-top: 15%;
  font-size: 16px;
}

.icon-box-room {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 4px; 
  margin-right: 8px; 
}
  
.icon-box-room svg {
  color: white; 
}

.streak-container {
  display: 'flex';
  flex-direction: 'column'; 
  align-items: 'center';
  text-align: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 1536px) {
    .Card-Study {
        margin-left: 80%;
    }
}