/* General styles */
body {
  font-family: "Roboto", sans-serif; /* Revert to Roboto font */
  margin: 0;
  padding: 0;
  background-color: #fff; /* Revert to the original white background */
}

.landing-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Section Styles */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
}

.section-left,
.section-right {
  flex: 1;
}

.first-section .section-left {
  text-align: left;
}

.main-heading,
.sub-heading,
.feature h3, h1 {
  font-weight: bold; /* Make all headings bold */
}

.main-heading {
  font-size: 3rem;
  color: #3f51b5; /* Primary color */
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 1.5rem;
  color: #555; /* Dark gray for subheading */
  margin-bottom: 10px;
}

.description {
  font-size: 1.1rem;
  color: #777; /* Light gray for description */
  margin-bottom: 20px;
}

.start-button,
.trial-button,
.sign-up-button,
.log-in-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button {
  background-color: #3f51b5;
  color: white;
}

.trial-button {
  background-color: #4caf50;
  color: white;
}

.sign-up-button {
  background-color: #ff4081;
  color: white;
}

.log-in-button {
  background-color: #ff9800;
  color: white;
}

.start-button:hover,
.trial-button:hover,
.sign-up-button:hover,
.log-in-button:hover {
  opacity: 0.9;
}

/* Images */
.main-image {
  max-width: 100%;
  height: auto;
}

.feature-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold; /* Ensure feature titles are also bold */
}

.feature p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.button-group {
  display: flex;
  gap: 10px;
}
